{% extends 'base.twig' %}

{% block content %}
    <h1>Edit User</h1>

    <form action="index.php?action=update" method="post">
        <input type="hidden" name="id" value="{{ user.id }}">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" name="name" id="name" class="form-control" value="{{ user.name }}">
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" name="email" id="email" class="form-control" value="{{ user.email }}">
        </div>
        <div class="form-group">
            <label for="pass">pass</label>
            <input type="text" name="pass" id="pass" class="form-control" value="{{ user.pass }}">
        </div>
        <button type="submit" class="btn btn-primary">Update</button>
    </form
{% endblock %}